/* Home Section */

.home-container{
    display: flex;
    width: 1200px;
    margin-top: 100px;
    border: 2px solid aqua;
    padding: 2px;
}
.menu-bar{
    flex: 2 1 20%;
    margin: 5px;
    background-color: rgb(228, 146, 23);
}
.main-body{
    flex: 1 5 80%;
    margin: 5px;
    background-color: palegreen;
}


/* Menu part */

.menu-container{
    display: flex;
    max-width: 240px;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #222;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Main Body part */

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.image-slider{
    margin: 2px;
}
.hot-category{
    margin: 10px;
    background-color: rgb(155, 16, 81);
}
.random-product{
    margin: 10px;
    background-color: rgb(37, 137, 144);
}
