.title{
    display: flex;
    text-align: center;
    justify-content: center;
}
.title>h6{
    align-self: center;
    font-size: 25px;
    font-family: Arial;
    color: rgb(19, 143, 19);
}
.h-category-container{
    max-width: 905px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.single-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgb(156, 195, 230);
    border-radius: 10px;
    height:180px;
    width: 140px;
    padding: 10px;
    margin: 5px;
}
.img-container{
    background-color: white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-image: url('/images/icon/no-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    box-shadow: 5px 5px 20px rgb(156, 195, 230);
}
.img-container>img{
    height: 120px;
    border-radius: 50%;
    width: 120px;
}
.c-name-container{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-family: arial;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
    transform: scale(1.02);
}