input:focus,select:focus,textarea:focus,button:focus {
      outline: none;
  }
.form-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
    margin-bottom: 100px;
    border-radius: 40px;
    height: 450px;
    width: 500px;
}
.form-container h1{
    transform: translateY(-30%);
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(10, 92, 175);
}

.form-container .items{
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.form-container label{
    float: left;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    margin-left: 8px;
    width:160px;
}
.form-container input[type="text"],input[type="email"],input[type="password"]{
    float: right;
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 10px;
    border: 2px solid DodgerBlue;
    /* border-color:  transparent transparent blue transparent; */
}
.form-container input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus{
    border-color: rgb(10, 92, 175);
    transform: scale(1.02);
    /* border-color:  transparent transparent blue transparent; */
}
#item5{
    transform: translate(15%, 0);
    padding: 15px;
}
.form-container input[type="submit"],input[type="reset"]{
    height: 50px;
    width: 100px;
    font-size: 1.2em;
    border-radius: 30px;
    border: 0;
    margin: 20px;
    margin-top: 60px;
    padding: auto;
    color: white;
}
.form-container input[type="submit"]{
    background-color: green;
}
.form-container input[type="reset"]{
    background-color: skyblue;
}
.form-container input[type="submit"]:hover{
    background-color: rgb(9, 185, 9);
    transform: scale(1.02);
}
.form-container input[type="reset"]:hover{
    background-color: rgb(101, 198, 236);
    transform: scale(1.02);
}
  
.form-container input[type="submit"]:focus{
    background-color: rgb(9, 185, 9);
    border: 2px solid rgb(10, 92, 175);
    transform: scale(1.02);

}
.form-container input[type="reset"]:focus{
    background-color: rgb(101, 198, 236);
    border: 2px solid rgb(10, 92, 175);
    transform: scale(1.02);
}
  