#sale-container {
    display: grid;
    width: 1200px;
    grid-template-columns: 2.5fr 8fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "header header" "menubar body" "footer footer";
    grid-gap: 0.5rem;
    border-radius: 10px;
}

header {
    grid-area: header;
}

nav {
    grid-area: menubar;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1CB5E0, #1b86a3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

main {
    grid-area: body;
}

footer {
    grid-area: footer;
}

/* ////////____Munu Bar____////// */

.user-profile {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.user-profile #user-image {
    flex-basis: 25%;
    background-color: rgba(128, 128, 128, 0.787);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(20, 132, 230);
}

.user-profile #user-name {
    flex-basis: 75%;
    background-color: ash;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Ubuntu';
    color: white;
}

#menu-container {
    display: flex;
    flex-direction: column;
}

#menu-container ul {
    margin: 0;
    list-style: none;
}

#menu-container ul li {
    position: relative;
    background-color: #26abd6;
    padding: 5px;
    border-top: 1px solid white;
    width: 100%;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#menu-container ul li:hover, li:focus {
    background-color: #000000;
    font-size: 20px;
}

#menu-container ul ul {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    /* background-color: burlywood; */
}

#menu-container ul ul li {
    background-color: #26abd6;
}

/* #menu-container ul li:hover > ul{
    opacity: 1;
    position:relative;
    visibility: visible;
    z-index: 3;
} */

.sub-menu-expand {
    opacity: 1;
    position: relative;
    visibility: visible;
    z-index: 3;
}

#menu-container ul li a {
    color: #fff;
    text-decoration: none;
}

#menu-container span {
    margin: 2px 10px 2px 10px;
}

#menu-container>ul>Li.sub-menu span.fa-caret-right {
    float: right;
}

#menu-container>ul>Li.sub-menu:hover span.fa-caret-right {
    float: right;
    transform: rotate(90deg);
}

@media only screen and (max-width: 700px) {
    #home-container {
        grid-template-columns: 100%;
        grid-template-rows: 100px 2fr 0.6fr 1.5fr auto auto;
        grid-template-areas: "header" "menubar" "image-slider" "hot-category" "body" "footer";
    }
}

/* /////////////////____________/////////// */

/* ///////____Add Product Form____////// */

#manual-form-container {
    display: grid;
    width: 905px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 30px auto;
    grid-template-areas: "title title" "form image";
    grid-gap: 0.5rem;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 10px 10px 15px rgb(134, 187, 233);
    border-radius: 40px;
    margin: 0px; */
}

#form-title {
    grid-area: title;
    color: rgb(5 190 214);
    padding: 20px 5px 5px 5px;
    text-decoration: bold;
    text-shadow: 5px 5px 10px rgb(79 208 196);
    font-family: Ubuntu;
}
.image-n-button{
    grid-area: image;
}

#p-image div {
    padding: 5px;
}

#fileToUpload {
    visibility: hidden;
}

#fileToUpload::before {
    content: 'Select Product Image';
    visibility: visible;
    display: inline-block;
    background-color: rgb(151, 179, 190);
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 12pt;
}

#form-body #form-body-main {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:forestgreen; */
    padding: 25px 15px;
    float: left;
}

#item1 {
    flex-basis: 1;
    padding: 10px;
}

#item2 {
    flex-basis: 1;
    padding: 10px;
}

#item3 {
    flex-basis: 1;
    padding: 10px;
}

#item4 {
    flex-basis: 1;
    padding: 10px;
}

#item5 {
    flex-basis: 1;
    padding: 10px;
}

#item6 {
    flex-basis: 1;
    padding: 10px;
}

#item7 {
    flex-basis: 1;
    padding: 10px;
}

#item8 {
    flex-basis: 1;
    padding: 10px;
}

#itemButton {
    flex-basis: 1;
    padding: 10px;
}

/* /////////Label and Input///////////// */

#form-body-main label {
    float: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 1px;
    margin-left: 8px;
    width: 160px;
}

#form-body-main .required::after {
    content: '*';
    color: red;
}

.tooltip {
    position: relative;
}

.tooltip>span {
    visibility: hidden;
    width: 200px;
    color: rgb(243, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    text-align: right;
    text-decoration: underline;
    position: absolute;
    z-index: 10;
    bottom: 2px;
}

#form-body-main input[type="text"], input[type="email"], input[type="password"], select {
    float: right;
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 10px;
    border: 2px solid DodgerBlue;
    width: 250px;
}

#form-body-main input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
    border-color: rgb(10, 92, 175);
    transform: scale(1.02);
}

/* ////////_______Reset and Submit Button_____///// */

#form-body-main input[type="submit"], input[type="reset"] {
    height: 50px;
    width: 100px;
    font-size: 1.2em;
    border-radius: 30px;
    border: 0;
    margin: 10px;
    padding: auto;
    color: white;
}

#form-body-main input[type="submit"] {
    background-color: green;
}

#form-body-main input[type="reset"] {
    background-color: skyblue;
}

#form-body-main input[type="submit"]:hover {
    background-color: rgb(9, 185, 9);
    transform: scale(1.02);
}

#form-body-main input[type="reset"]:hover {
    background-color: rgb(101, 198, 236);
    transform: scale(1.02);
}

#form-body-main input[type="submit"]:focus {
    background-color: rgb(9, 185, 9);
    border: 2px solid rgb(10, 92, 175);
    transform: scale(1.02);
}

#form-body-main input[type="reset"]:focus {
    background-color: rgb(101, 198, 236);
    border: 2px solid rgb(10, 92, 175);
    transform: scale(1.02);
}