<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/ABC-Shop-Management/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home-user-menu.css">
  <script src="/js/menu-expander.js"></script>
  <script src="https://kit.fontawesome.com/0b6de5c2ec.js" crossorigin="anonymous"></script>


</head>

<body>
  <div id="menu-container">
    <ul>
      <li><a href='/view/category.php?category-id=8'><span class="fas fa-apple-alt"></span>Fruits</a></li>
      <li><a href='/view/category.php?category-id=7'><span class="fas fa-carrot"></span>Vegetables</a></li>
      <li><a href='/view/category.php?category-id=9'><span class="fa fa-drumstick-bite"></span>Meat</a></li>
      <li><a href='/view/category.php?category-id=10'><span class="fa fa-fish"></span>Fish</a></li>
      <li><a href='/view/category.php?category-id=11'><span class="fa fa-egg"></span>Egg</a></li>
      <li><a href='/view/category.php?category-id=179'><span class="fa fa-concierge-bell"></span>Rice</a></li>
      <li><a href='/view/category.php?category-id=21'><span class="fa fa-oil-can"></span>Oil</a></li>
      <li><a href='/view/category.php?category-id=185'><span class="fa fa-blender"></span>Milk</a></li>
      <li><a href='/view/category.php?category-id=16'><span class="fa fa-soap"></span>Soups</a></li>
      <li><a href='/view/category.php?category-id=181'><span class="fa fa-tint"></span>Mineral Water</a></li>
      <li><a href='/view/category.php?category-id=182'><span class="fa fa-wine-glass-alt"></span>Soft Drinks</a></li>
      <li><a href='/view/category.php?category-id=183'><span class="fas fa-mug-hot"></span>Tea & Coffee</a></li>
      <li><a href='/view/category.php?category-id=12'><span class="fas fa-glass-whiskey"></span>Juice</a></li>
      <li><a href='/view/category.php?category-id=184'><span class="fa fa-birthday-cake"></span>Biscuits & Cakes</a></li>
      <li><a href='/view/category.php?category-id=178'><span class="fas fa-ice-cream"></span>Chocolate</a></li>
      <li><a href='/view/category.php?category-id=19'><span class="fa fa-apple-alt"></span>Stationery</a></li>
    </ul>
  </div>
</body>

</html>