<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/ABC-Shop-Management/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home-user-menu.css">
  <script src="/js/menu-expander.js"></script>

</head>

<body>
  <div id="menu-container">
    <ul>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fas fa-seedling"></span>Fruits & Vegetables<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fas fa-apple-alt"></span>Fruits</a></li>
          <li><a href='#settings'><span class="fas fa-carrot"></span>Vegetables</a></li>
          <li><a href='#settings'><span class="fas fa-lemon"></span>Dry Fruits</a></li>
          <li><a href='#settings'><span class="fas fa-pepper-hot"></span>Dry Vegetables</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Meat & Fish<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-user"></span>Beef</a></li>
          <li><a href='#settings'><span class="fa fa-key"></span>Mutton</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Chicken</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Birds</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Sea-Fish</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Fresh Water Fish</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Egg</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Cooking Essentials<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Rice</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Oil</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Daal & Chola</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Salt & Sugar</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Flour & Semolina</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Spices & Mixes</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Baking Needs</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Baby Food & Care<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Baby Diapers</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Baby Wipes</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Baby Accessories</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Baby Food</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Milk & Dairy Products<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Cheese</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Butter</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Ghee</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Milk</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Yogurt</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Snacks & Instant Foods<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Pastas</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Soups</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Chips, Nuts & Others</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Noodles & Shemai</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Frozen Food</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Cereals</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Canned Foods</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fas fa-glass-cheers"></span>Drinks<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Mineral Water</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Soft Drinks</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Tea & Coffee</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Juice</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Energy & Malted Drinks</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Personal Care<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Shampoo & Hair Care</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Toothpaste & Oral Care</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Shaving & Facial Care</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Bath & Body</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Deodorants/Body Sprays</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Napkins, Contraceptives & Others</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Cosmetics</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Skin Care</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Health Care</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Spreads<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Jam</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Jelly</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Honey</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Mayonnaise</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Sauce</a></li>
        </ul>
      </li>
      <li><a href='#profile'><span class="fa fa-car"></span>Breads, Biscuits & Cakes</a></li>
      <li><a href='#profile'><span class="fa fa-car"></span>Chocolate & Candies</a></li>
      <li><a href='#profile'><span class="fa fa-apple-alt"></span>Stationary</a></li>
      <li><a href='#profile'><span class="fa fa-apple-alt"></span>Gift & Toys</a></li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Fashion/Lifestyle<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Men</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Women</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Kids</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Home Care & Cleaning<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Cleaning Products</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Pest Control</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Air Freshner</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Arosol & Coil</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Soup & Detergent</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Home & Living<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Towels</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Cabinets</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Home Appliances<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>Lights & Electrical</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Kitchen Application</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Home Accessories</a></li>
        </ul>
      </li>
      <li class='sub-menu' onclick="ExpandSubMenu(this)"><a href='javascript:void(0)'><span class="fa fa-car"></span>Help<span
            class='fa fa-caret-right'></span></a>
        <ul>
          <li><a href='#settings'><span class="fa fa-car"></span>FAQ's</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Submit a Ticket</a></li>
          <li><a href='#settings'><span class="fa fa-car"></span>Network Status</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>

</html>