<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5500/view/../css/testy.css">
    </head>
    <body>
        <div class="form-container">
            <div class="items" id="item-1">
                <div class="center">
                    <input type="reset" name="reset" id="reset" value="Reset">
                    <input type="submit" name="submit" id="submit" value="Submit">
                </div>
            </div>
            <div class="items" id="item-2">Second Box</div>
            <div class="items" id="item-3">Third Box</div>
            <div class="items" id="item-4">Forth Box</div>
            <div class="items" id="item-5">Fifth box</div>
            <div class="items" id="item-6">sixth Box</div>
        </div>
    </body>
</html>